<p id="notice"><%= notice %></p>

<div class="col-xs-12 text-center">
  <h1>Meus Contatos</h1>
</div>

<div class="col-md-8 col-md-offset-2 col-xs-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Telefon</th>
            <th colspan="2">
              Ações
              <%= link_to 'Novo Contato', new_contact_path, class: 'btn btn-success' %>
            </th>
          </tr>
        </thead>

        <tbody>
          <% if @contacts.empty? %>
            <tr>
                <td colspan="4" class="text-center">
                    <h3> Nenhum contato cadastrado </h3>
                   <%= link_to 'cadastrar aqui', new_contact_path %> um novo contato  
                </td>
            </tr>
          <% end %>

          <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.phone %></td>
              <td><%= link_to 'Exibir', contact, class: 'btn btn-info' %></td>
              <td><%= link_to 'Editar', edit_contact_path(contact), class:'btn btn-warning' %></td>
              <td><%= link_to 'Deletar', contact, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

</div>
<br>


